@using youtubedemonetcore.models;
@using Newtonsoft.Json;
@inject IEmployee emp;

<a href="/home/other">Take me to Other controller view</a>
<h1> I am from Index page </h1>



@{
    var empdata = JsonConvert.DeserializeObject<List<Employee>>(TempData.Peek("Data").ToString());    
}
<h1>Count from CLASS METHOD CALL IN SAME REQUEST : @emp.EmployeeCount().ToString()</h1>
<h1>Count from SAME DATA WE GET ABOVE IN TEMPDATA WITHOUT SEPARATE CALL : @empdata.Count().ToString()</h1>

<a href="/home/createEmployee">CREATE NEW EMPLOYEE AND REFIRECT TO INDEX PAGE AGAIN</a>
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Department</th>
            <th>Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var data in empdata)
        {
            <tr>
                <td>@data.Id</td>
                <td>@data.Department</td>
                <td>@data.Name</td>
                <td><a href="/home/deleteemployee/@data.Id">Delete</a></td>
            </tr>
        }
    </tbody>
</table>
